<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="img/icons8-video-camera-72.png" type="image/x-icon">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>{% block title %}{% endblock %}</title>
    <style>
      * {
        scroll-behavior: smooth;
      }
    </style>
</head>

<body class="m-0 p-0 box-border scroll-pt-8 bg-[#1e1e2a]">
    <!-- Header -->
    <header  class="fixed top-0 left-0 w-full z-[100] bg-[#1e1e2a]">
        <!-- nav -->
        <div class="flex items-center justify-center pt-5 pb-0 max-w-[1060px] m-auto w-full">
            <!-- img -->
            <a href="#" class="no-underline text-2xl text-white font-semibold mt-0 mr-auto mb-0 ml-0 uppercase">Re<span class="text-[#ffb43a]">Fil</span></a>
            <!-- search box -->
            <div class="max-w-[240px] w-full flex items-center gap-x-[0.7rem] py-[8px] px-[15px] bg-[#2d2e37] rounded-full mr-4 mb-4">
                <input class="w-full border-none outline-none text-white bg-transparent text-[0.938rem]" type="search" name="" id="search-input" placeholder="Search Movie"> 
                <div class="text-base text-[#fcfeff] hover:text-[#ffb4a3]"><i class='bx bx-search'></i></div>
                
            </div>
            <!-- navbar -->
            <div class="font-bold fixed top-1/2 translate-y-[-50%] left-[20px] flex flex-col gap-y-[2.1rem]">
              <a href="/main_page" class="flex flex-col items-center scale-110 text-white hover:scale-125">
                  <div class="text-2xl">
                      <i class='bx bx-home'></i>
                  </div>
                  <span class="text-[0.7rem]">Home</span>
              </a>
              <a href="#popular" class="nav-link flex flex-col items-center text-[#b7b7b7] hover:text-white hover:scale-110 nav-active">
                  <div class="text-[1.6rem]">
                      <i class='bx bxs-hot'></i>
                  </div>
                  <span class="text-[0.7rem]">Trending</span>
              </a>
              <a href="#comingsoon" class="nav-link flex flex-col items-center text-[#b7b7b7] hover:text-white hover:scale-110 nav-active">
                  <div class="text-[1.6rem]">
                      <i class='bx bxs-time'></i>
                  </div>
                  <span class="text-[0.7rem]">Comingsoon</span>
              </a>
              <a href="home.html" class="nav-link flex flex-col items-center scale-110 text-white hover:scale-125">
                  <div class="text-[1.6rem]">
                      <i class='bx bx-log-in-circle' ></i>
                  </div>
                  <span class="text-[0.7rem]">Log Out</span>
              </a>
              <a href="#about" class="nav-link flex flex-col items-center text-[#b7b7b7] hover:text-white hover:scale-110">
                <div class="text-[1.6rem]">
                    <i class='bx bx-question-mark'></i>
                </div>
                <span class="text-[0.7rem]">About</span>
            </a>
            <a href="/login" class="nav-link flex flex-col items-center scale-110 text-white hover:scale-125">
                <div class="text-[1.6rem]">
                    <i class='bx bx-log-in-circle' ></i>
                </div>
                <span class="text-[0.7rem]">Log In</span>
            </a>
            <a href="/sign_up" class="nav-link flex flex-col items-center scale-110 text-white hover:scale-125">
              <div class="text-[1.6rem]">
                  <i class='bx bx-log-in-circle' ></i>
              </div>
              <span class="text-[0.7rem]">Sign Up</span>
            </a>
          </div>
        </div>
    </header>

    <div>
      {% block content %}

      {% endblock %}
    </div>

    <!-- footer -->
    <footer class="text-[#fcfeff] body-font  max-w-5xl mx-auto  pt-20 sm:pt-24 lg-pt-32" >
        <div class="container px-5 py-8 mx-auto flex items-center fixed bottom-0 sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-[#fcfeff]">
            <h1 class="ml-3 text-2xl">Re<span class="text-orange-300">Fil</span></h1>
            
          </a>
          <p class="text-sm text-[#fcfeff] sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 ReFil </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <ul class="text-xl flex items-center justify-center space-x-8 xl:justify-end">
                <li>
                    <a href="#" title="" class=" block text-white transition-all duration-200 hover:text-opacity-80 focus:text-opacity-80">
                        <i class="bx bxl-github" ></i>
                    </a>
                </li>

                <li>
                    <a href="#" title="" class="block text-white transition-all duration-200 hover:text-opacity-80 focus:text-opacity-80">
                        <i class='bx bxl-facebook'></i>
                    </a>
                </li>

                <li>
                    <a href="#" title="" class="block text-white transition-all duration-200 hover:text-opacity-80 focus:text-opacity-80">
                        <i class='bx bxl-instagram'></i>
                    </a>
                </li>
            </ul>
          </span>
        </div>
      </footer>
    <!-- footer end -->
    <script src="../static/js/swiper-bundle.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>