{% extends "base.html" %}
{% block title %} ReFill - Main Page {% endblock %}

{% block content %}

    <div class="font-bold fixed top-1/2 translate-y-[-50%] left-[20px] flex flex-col gap-y-[2.1rem]">
        <a href="#home" class="flex flex-col items-center scale-110 text-white hover:scale-125">
            <div class="text-2xl">
                <i class='bx bx-home'></i>
            </div>
            <span class="text-[0.7rem]">Home</span>
        </a>
        <a href="#popular" class="nav-link flex flex-col items-center text-[#b7b7b7] hover:text-white hover:scale-110 nav-active">
            <div class="text-[1.6rem]">
                <i class='bx bxs-hot'></i>
            </div>
            <span class="text-[0.7rem]">Trending</span>
        </a>
        <a href="#comingsoon" class="nav-link flex flex-col items-center text-[#b7b7b7] hover:text-white hover:scale-110 nav-active">
            <div class="text-[1.6rem]">
                <i class='bx bxs-time'></i>
            </div>
            <span class="text-[0.7rem]">Coming Soon</span>
        </a>
        <a href="/logout" class="nav-link flex flex-col items-center scale-110 text-white hover:scale-125">
            <div class="text-[1.6rem]">
                <i class='bx bx-log-in-circle' ></i>
            </div>
            <span class="text-[0.7rem]">Log Out</span>
        </a>
    </div>

    <!-- Home -->
    <section class="home container pt-[3rem] pr-0 pb-[2rem] max-w-[1060px] m-auto w-full relative min-h-[470px] flex items-center mt-[5rem] rounded" id="home">
        <!-- home img -->
        <img src="img/home-background.png" alt="" class="home-img absolute w-full h-fu z-[-1] object-cover rounded">
        <!-- home text -->
        <div class="home-text pl-[40px]">
            <h1 class="home-title text-[2rem] font-semibold">Hitman's Wife's <br>Bodyguard</h1>
            <p class="text-[0.938rem] mt-2.5 mr-0 mb-5 text-[#ffb43a]">Releasing 10 April</p>
            <a href="" class="watch-btn flex items-center gap-x-[0.8rem] text-[#b7b7b7] hover:text-[#fcfeff]">
                <i class='bx bx-right-arrow'></i>
                <span class="text-base font-semibold">Button</span>
            </a>
        </div>
    </section>
    <!-- home end -->
    <!-- popular strt -->
    <section class="popular container pt-[3rem] pr-0 pb-[2rem] max-w-[1060px] m-auto w-full" id="popular">
        <div class="heading flex items-center justify-between bg-[#2d2e37] py-[8px] px-[14px] border-2 border-transparent mb-[2rem]">
            <h2 class="heading-title text-[1.2rem] font-medium">Popular Movies</h2>
        </div>
        <!-- content -->
        <div class="popular-content swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="movie-box relative w-full h-[380px] overflow-hidden ">
                        <img src="img/popular-movie-1.jpg" alt="" class="movie-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="movie-title text-[1.1rem] font-semibold">Spider-Man: No Way Home</h2>
                            <span class="movie-type text-[0.938rem]">Action</span>
                            <div class="star text-[#ffb43a]">
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bx-star'></i>
                                <span class="ml-[8px]">8.8</span>
                            </div>
                            <a href="detail.html" class="more-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[100px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span>More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box relative w-full h-[380px] overflow-hidden ">
                        <img src="img/popular-movie-1.jpg" alt="" class="movie-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="movie-title text-[1.1rem] font-semibold">Spider-Man: No Way Home</h2>
                            <span class="movie-type text-[0.938rem]">Action</span>
                            <div class="star text-[#ffb43a]">
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bx-star'></i>
                                <span class="ml-[8px]">8.8</span>
                            </div>
                            <a href="detail.html" class="more-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[100px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span>More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box relative w-full h-[380px] overflow-hidden ">
                        <img src="img/popular-movie-1.jpg" alt="" class="movie-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="movie-title text-[1.1rem] font-semibold">Spider-Man: No Way Home</h2>
                            <span class="movie-type text-[0.938rem]">Action</span>
                            <div class="star text-[#ffb43a]">
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bx-star'></i>
                                <span class="ml-[8px]">8.8</span>
                            </div>
                            <a href="detail.html" class="more-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[100px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span>More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box relative w-full h-[380px] overflow-hidden ">
                        <img src="img/popular-movie-1.jpg" alt="" class="movie-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="movie-title text-[1.1rem] font-semibold">Spider-Man: No Way Home</h2>
                            <span class="movie-type text-[0.938rem]">Action</span>
                            <div class="star text-[#ffb43a]">
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bx-star'></i>
                                <span class="ml-[8px]">8.8</span>
                            </div>
                            <a href="detail.html" class="more-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[100px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span>More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box relative w-full h-[380px] overflow-hidden ">
                        <img src="img/popular-movie-1.jpg" alt="" class="movie-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="movie-title text-[1.1rem] font-semibold">Spider-Man: No Way Home</h2>
                            <span class="movie-type text-[0.938rem]">Action</span>
                            <div class="star text-[#ffb43a]">
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bx-star'></i>
                                <span class="ml-[8px]">8.8</span>
                            </div>
                            <a href="detail.html" class="more-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[100px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span>More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box relative w-full h-[380px] overflow-hidden ">
                        <img src="img/popular-movie-1.jpg" alt="" class="movie-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="movie-title text-[1.1rem] font-semibold">Spider-Man: No Way Home</h2>
                            <span class="movie-type text-[0.938rem]">Action</span>
                            <div class="star text-[#ffb43a]">
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bx-star'></i>
                                <span class="ml-[8px]">8.8</span>
                            </div>
                            <a href="detail.html" class="more-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[100px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span>More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>

              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
        </div>
    </section>

    <!-- popular end -->

    <!-- coming soon -->
    <section class="popular container pt-[3rem] pr-0 pb-[2rem] max-w-[1060px] m-auto w-full" id="comingsoon">
        <div class="heading flex items-center justify-between bg-[#2d2e37] py-[8px] px-[14px] border-2 border-transparent mb-[2rem]">
            <h2 class="heading-title text-[1.2rem] font-medium">Coming Soon</h2>
        </div>
        <!-- content -->
        <div class="popular-content swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="movie-box relative w-full h-[380px] overflow-hidden ">
                        <img src="img/popular-movie-1.jpg" alt="" class="movie-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="movie-title text-[1.1rem] font-semibold">Spider-Man: No Way Home</h2>
                            <span class="movie-type text-[0.938rem]">Action</span>
                            <div class="star text-[#ffb43a]">
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bx-star'></i>
                                <span class="ml-[8px]">8.8</span>
                            </div>
                            <a href="detail.html" class="more-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[100px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span>More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box relative w-full h-[380px] overflow-hidden ">
                        <img src="img/popular-movie-1.jpg" alt="" class="movie-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="movie-title text-[1.1rem] font-semibold">Spider-Man: No Way Home</h2>
                            <span class="movie-type text-[0.938rem]">Action</span>
                            <div class="star text-[#ffb43a]">
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bx-star'></i>
                                <span class="ml-[8px]">8.8</span>
                            </div>
                            <a href="detail.html" class="more-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[100px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span>More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box relative w-full h-[380px] overflow-hidden ">
                        <img src="img/popular-movie-1.jpg" alt="" class="movie-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="movie-title text-[1.1rem] font-semibold">Spider-Man: No Way Home</h2>
                            <span class="movie-type text-[0.938rem]">Action</span>
                            <div class="star text-[#ffb43a]">
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bx-star'></i>
                                <span class="ml-[8px]">8.8</span>
                            </div>
                            <a href="detail.html" class="more-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[100px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span>More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box relative w-full h-[380px] overflow-hidden ">
                        <img src="img/popular-movie-1.jpg" alt="" class="movie-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="movie-title text-[1.1rem] font-semibold">Spider-Man: No Way Home</h2>
                            <span class="movie-type text-[0.938rem]">Action</span>
                            <div class="star text-[#ffb43a]">
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bx-star'></i>
                                <span class="ml-[8px]">8.8</span>
                            </div>
                            <a href="detail.html" class="more-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[100px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span>More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box relative w-full h-[380px] overflow-hidden ">
                        <img src="img/popular-movie-1.jpg" alt="" class="movie-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="movie-title text-[1.1rem] font-semibold">Spider-Man: No Way Home</h2>
                            <span class="movie-type text-[0.938rem]">Action</span>
                            <div class="star text-[#ffb43a]">
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bx-star'></i>
                                <span class="ml-[8px]">8.8</span>
                            </div>
                            <a href="detail.html" class="more-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[100px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span>More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box relative w-full h-[380px] overflow-hidden ">
                        <img src="img/popular-movie-1.jpg" alt="" class="movie-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="movie-title text-[1.1rem] font-semibold">Spider-Man: No Way Home</h2>
                            <span class="movie-type text-[0.938rem]">Action</span>
                            <div class="star text-[#ffb43a]">
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bx-star'></i>
                                <span class="ml-[8px]">8.8</span>
                            </div>
                            <a href="detail.html" class="more-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[100px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span>More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>

              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
        </div>
    </section>
    <!-- coming sn end -->
    <!-- wishlist -->
    <section class="soon container pt-[3rem] pr-0 pb-[2rem] max-w-[1060px] m-auto w-full" id="wishlist">
        <div class="heading flex items-center justify-between bg-[#2d2e37] py-[8px] px-[14px] border-2 border-transparent mb-[2rem]">
            <h2 class="heading-title text-[1.2rem] font-medium">Coming Soon Movie</h2>
        </div>
        <!-- content -->
        <div class="soon-content swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="wishlist-box relative w-full h-[200px] overflow-hidden">
                        <img src="img/popular-movie-1.jpg" alt="" class="wishlist-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px]  overflow-hidden">
                            <h2 class="wishlist-title text-[0.9rem] font-semibold mb-[5px]">Spider-Man: No Way Home</h2>
                            <a href="" class="more-wishlist-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[80px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span class="text-[0.8rem] font-medium">More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wishlist-box relative w-full h-[200px] overflow-hidden">
                        <img src="img/popular-movie-1.jpg" alt="" class="wishlist-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="wishlist-title text-[0.9rem] font-semibold mb-[5px]">Spider-Man: No Way Home</h2>
                            <a href="" class="more-wishlist-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[80px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span class="text-[0.8rem] font-medium">More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wishlist-box relative w-full h-[200px] overflow-hidden">
                        <img src="img/popular-movie-1.jpg" alt="" class="wishlist-box-img w-full h-full object-cover contrast-75 rounded-xl">
                        <div class="box-text absolute bottom-0 left-0 w-full h-full flex flex-col justify-end p-[14px] overflow-hidden">
                            <h2 class="wishlist-title text-[0.9rem] font-semibold mb-[5px]">Spider-Man: No Way Home</h2>
                            <a href="" class="more-wishlist-btn inline-block rounded-lg outline-none text-white text-center relative font-semibold w-[80px] border-2 border-[#ffb43a] z-[1] hover:text-[#fcfeff] hover:bg-[#ffb43a] hover:gap-x-[0.8rem]">
                                <span class="text-[0.8rem] font-medium">More</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                

              </div>
              
              <div class="swiper-btn">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
              
        </div>
    </section>
    <!-- wishlist end -->

{% endblock %}